DJANGO_SECRET_KEY=''
export DJANGO_SECRET_KEY

DJANGO_DEBUG='True'
export DJANGO_DEBUG

#local
#DJANGO_EMAIL_HOST_USER='pyrak'
#export DJANGO_EMAIL_HOST_USER
#DJANGO_EMAIL_HOST='localhost'
#export DJANGO_EMAIL_HOST
#DJANGO_EMAIL_PORT='25'
#export DJANGO_EMAIL_PORT
#DJANGO_EMAIL_USE_TLS=''
#export DJANGO_EMAIL_USE_TLS
#DJANGO_EMAIL_HOST_PASSWORD=''
#export DJANGO_EMAIL_HOST_PASSWORD

DJANGO_GOOGLE_CLIENT_ID=''
export DJANGO_GOOGLE_CLIENT_ID
DJANGO_GOOGLE_CLIENT_SECRET=''
export DJANGO_GOOGLE_CLIENT_SECRET
DJANGO_GOOGLE_DEVELOPER_KEY=''
export DJANGO_GOOGLE_DEVELOPER_KEY

DJANGO_GOOGLE_ACCESS_TOKEN=''
export DJANGO_GOOGLE_ACCESS_TOKEN

DJANGO_GOOGLE_USERNAME=''
export DJANGO_GOOGLE_USERNAME
DJANGO_GOOGLE_PASSWORD=''
export DJANGO_GOOGLE_PASSWORD



DJANGO_FACEBOOK_APP_ID=''
export DJANGO_FACEBOOK_APP_ID
DJANGO_FACEBOOK_API_SECRET=''
export DJANGO_FACEBOOK_API_SECRET




#DJANGO_FACEBOOK_APP_ID=''
#export DJANGO_FACEBOOK_APP_ID
#DJANGO_FACEBOOK_API_SECRET=''
#export DJANGO_FACEBOOK_API_SECRET


#remote
DJANGO_EMAIL_HOST_USER=''
export DJANGO_EMAIL_HOST_USER
DJANGO_EMAIL_HOST=''
export DJANGO_EMAIL_HOST
DJANGO_EMAIL_PORT=''
export DJANGO_EMAIL_PORT
DJANGO_EMAIL_USE_TLS=''
export DJANGO_EMAIL_USE_TLS
DJANGO_EMAIL_HOST_PASSWORD=''
export DJANGO_EMAIL_HOST_PASSWORD
