<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/ui-lightness/jquery.ui.all.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/detect_timezone.js"></script>
    <script type="text/javascript" src="/static/json-sans-eval.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <title>Calendar Item</title>
    
    {% block head %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27742041-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="header">

<h1 id="title"><a href="/">CalendarItem</a></h1>
<h2>
Don't give them a chore. Give them a link.
</h2>



{% if user.is_authenticated %}
<h4>
Hey, {{user.email}} ({{user.first_name}} {{user.last_name}})
</h4>
{% else %}
<h4>
<a href="{% url socialauth_begin 'facebook' %}">Enter using Facebook</a>
</h4>
{% endif %}

<!--
<a href="#" id="whatis">What is this?</a>
-->

</div>

    {% block main %}{% endblock %}

</body>
</html>
