<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <link rel="stylesheet" href="/static/styles.css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/jsincludes.js"></script>
</head>
<body>
    <h1 id="title"><a href="/">Calendar It</a></h1>

    {% block main %}{% endblock %}

</body>
</html>
