<html>
<head>
<style>
    body { height:100%;margin:0px;padding:0px; }
    #desc { font-size: .8em; }
    #calitem_desc { margin: 0; padding: 0; background-color: yellow; border: gray 1px dashed; }
    h3, h4 { margin: 0; padding: 0; }
    #calitem_desc p { margin: 0 0 5px 0; padding: 0; }
    #p_with_editlink { font-size: 1.2em; }
    
</style>
</head>
<body>
<h1>
Hey {{userprofile.get_name}}!
</h1>

<p>
I see you're trying to add something to your calendar. Rockin!
</p>

<p>
Here's what we think the calendar item is:
</p>

<hr>
<hr>
<div id="calitem_desc">
<h3>
Name
</h3>
<p>
{{c.name}}
</p>

<h3>
Location
</h3>
<p>
{{c.location}}
</p>

<h3>
Start
</h3>
<p>
{{c.start_datetime}}
</p>

<h3>
End
</h3>
<p>
{{c.end_datetime}}
<p>

<h4>
Notes
</h4>
<p id='desc'>
{{c.info|truncatewords_html:100}}
</p>
</div>
<hr>
<hr>

<p>
If there are errors, we're not surprised. To edit this calendar item, go here: <a href="{{c.get_url_for_edit}}">{{c.get_url_for_edit}}</a>. Your corrections will benefit other users trying to convert this email into a calendar item!
</p>

<p>
Add this and other calendar items in our system for your account to your calendar of choice using this ics feed:
</p>

<p>
{{userprofile.get_url_for_ical_feed}}
</p>

<p>
And/or just add this calendar item to your google calendar with this link:
</p>

<p>
{{c.get_url_for_cal_item}}
</p>

<p>
(you could also pass out the above url to make it easier for others to add the event to their calendars)
</p>

<p>
</p>

<p>
Thanks!
</p>
</html>
