{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$(function(){
    datepicker_options = {
        showButtonPanel: true,
        showOn: "both",
        buttonImage: "images/calendar.gif",
        buttonImageOnly: true
    }
    datetimepicker_options = {}

    $('#start_date').datepicker(datepicker_options);
    $('#end_date').datepicker(datepicker_options);
    $('#start_time').datetimepicker(datetimepicker_options);
    $('#end_time').datetimepicker(datetimepicker_options);
});

</script>
{% endblock %}
{% block main %}

<ol>
<li>
Fill in the meeting/party/whatever deets below
</li>
<li>
We'll give you a link that people can use to automatically calendar it.
</li>
<li>
There is no step 3.
</li>
</ol>

<form id="event-info-form">
<fieldset>

Start:
<fieldset>
<label for="start_date">date</label>
<input type="date" name="start_date" id="start_date"/>
<label for="start_date">time</label>
<input type="time" name="start_time" id="start_time"/>
<fieldset>

End:
<fieldset id="end">
<label for="start_date">date</label>
<input type="date" name="end_date" id="end_date"/>
<label for="start_date">time</label>
<input type="time" name="end_time" id="end_time"/>
<fieldset>

</fieldset>
<fieldset id="submit">
<input type="submit" value="Get Link &raquo;" />
</fieldset>
</form>

{% endblock %}

