{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
var is_event_add_page = true;
</script>
{% endblock %}

{% block main %}


<form id="event-info-form">
<fieldset>

<fieldset>
<label for="title">
Event title:
</label>
<input type="text" name="title" id="title" />
</fieldset>

<fieldset>
<label for="location">Location:</label>
<input type="text" name="location" id="location" />
</fieldset>

<fieldset id="start">
<label class="startend">
Start:
</label>
<fieldset class="onerow">
<div class="inline-block">
<label for="start_date">date: </label>
<input type="date" name="start_date" id="start_date" class="start_date" />
</div>
<div class="inline-block">
<label for="start_date">time: </label>
<input type="time" name="start_time" id="start_time" class="start_time" />
</div>
</fieldset>
</fieldset>

<fieldset id="end">
<label class="startend">
End:
</label>
<fieldset class="onerow">
<div class="inline-block">
<label for="start_date">date: </label>
<input type="date" name="end_date" id="end_date" class="end_date" />
</div>
<div class="inline-block">
<label for="start_date">time: </label>
<input type="time" name="end_time" id="end_time" class="end_time" />
</div>
</fieldset>
</fieldset>


<fieldset>
<label for="location">Other Info:</label>
<textarea name="info" id="info"></textarea>
</fieldset>

<fieldset id="submit">
<input type="submit" id="submit" class="submit" value="Get Calendar Link &raquo;" />
</fieldset>


</fieldset>
</form>

<div id="result">
</div>

{% endblock %}

