html{
    width: 100%
    padding: 20px;
}
#header{
    margin: 0 0 30px 0;
    padding: 0;
}
body{
    font-family: helvetica, arial, sans-serif;
    font-size: 14pt;
    width: 600px;
    margin: auto;
}
h1{
    font-family: helvetica, arial, sans-serif;
    font-size: 3em;
    text-align: left;
    margin: 0;
    padding: 0;
}
h1 a{
    color: gray;
    text-decoration: none;
}
h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
h3{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.calitem_desc {
    margin: 0 0 10px 0;
    padding: 0;
    border: gray 1px dashed;
    font-size: .8em;
}
.calitem_desc p {
    margin: 0 0 5px 0;
    padding: 0;
}

.calitem_desc .desc {
    font-size: .8em;
}

form#event-info-form{
    background-color: #ededed;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
}
form#event-info-form fieldset{
    width: 100%;
    border: none;
    padding: 0;
    text-align: left;
}

label{
    vertical-align: top;
    color: gray;
    font-size: .8em;
    display: block;
}
label.startend{
    font-size: 1em;
}

.inline-block input{
    width: 80px;
}

form#event-info-form fieldset#start, form#event-info-form fieldset#end{
    display: inline-block;
    width: auto;
    margin: auto;
    width: 49%;
}
form#event-info-form fieldset#start{
}

input#title{
    font-size: 1.4em;
    width: 490px;
    padding: 5px;
}
input#location{
    width: 490px;
    font-size: 1.1em;
    padding: 5px;
}

input#submit{
    width: 100%;
    font-size: 1.5em;
}

fieldset{
    margin: 0 0 15px 0;
}

input{
    width: 200px;
}

textarea{
    width: 500px;
    height: 50px;
}

fieldset.onerow{
    display: block;
}

.inline-block{
    display: inline-block;
}

#end_date, #start_date{
}


.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#whatis{
    position: absolute;
    top: 20px;
    right: 20px;
}
#result{
    margin: 30px auto auto auto;
    text-align: center;
}
